{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<body class="hero-background">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    New holiday packages have arrived
                </h1>
            </div>
        </div>
    </div>
    <div class="container package-list">
        <h1>Our Packages</h1>
        <div class="row mt-2">
            {% for package in packages %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if package.image %}
                            <img src="{{ package.image.url }}" class="card-img-top" alt="{{ package.name }}">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'package_details' package.id %}">
                                <h5 class="card-title text-black">{{ package.name }}</h5>
                            </a>
                            <p class="card-text">{{ package.brief_description }}</p>
                            <p class="card-text"><strong>Price pp:</strong> ${{ package.price }}</p>
                            <p class="card-text"><strong>Duration:</strong> {{ package.holiday_duration }} days</p>
                        </div>
                        <a href="{% url 'package_details' package.id %}" class="btn btn-info">View Details</a>
                    </div>
                </div>
            {% empty %}
                <p>No packages available.</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}