{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<body>
    <div class="hero-background container-fluid">
        <div class="row h-100">
            <div class="col-12 text-center my-auto bg-dark-transparent">
                <h1 class="display-4 logo-font">
                    New holiday packages have arrived
                </h1>
            </div>
        </div>
    </div>
    <div class="package-list">
        <h1 class="text-white">Our Packages</h1>
        <div class="row mt-2">
            {% for package in packages %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if package.image %}
                        <img src="{{ MEDIA_URL }}{{ package.image }}" class="card-img-top" alt="{{ package.name }}">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'package_details' package.id %}">
                                <h5 class="card-title text-black">{{ package.name }}</h5>
                            </a>
                            <p class="card-text">{{ package.brief_description }}</p>
                            <p class="card-text"><strong>Price pp:</strong> ${{ package.price }}</p>
                            <p class="card-text"><strong>Duration:</strong> {{ package.holiday_duration }} days</p>
                            <p class="card-text">Ideal for {{ package.holiday_type }} holidays</p>
                        </div>
                        <a href="{% url 'package_details' package.id %}" class="btn btn-info">View Details</a>
                    </div>
                </div>
            {% empty %}
                <p>No packages available.</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}