{% extends 'base.html' %}

{% block content %}
<div class="container package-list">
    <h1>{{ package.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            {% if package.images.all %}
                <div id="packageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in package.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100" alt="Image for {{ package.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#packageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#packageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% else %}
                <p>No images available for this package.</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Details</h3>
            <p><strong>Description:</strong> {{ package.detailed_description }}</p>
            <p><strong>Price:</strong> ${{ package.price }}</p>
            <p><strong>Duration:</strong> {{ package.holiday_duration }} days</p>
            {% if user.is_authenticated %}
                <a href="{% url 'add_to_bag' package.id %}" class="btn btn-primary">Book Now</a>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-light">Login or Register</a>
                <h5>or</h5>
                <a href="{% url 'add_to_bag' package.id %}" class="btn btn-info">Continue as guest</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
