{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">{{ package.name }}</h1>
    <div class="row">
        <div class="col-md-12">
            <!-- Carousel Section -->
            {% if package.images.all %}
            <div id="packageCarousel" class="carousel slide shadow-lg rounded" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in package.images.all %}
                        <li data-target="#packageCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Carousel Items -->
                <div class="carousel-inner">
                    {% for image in package.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100 rounded" alt="Image for {{ package.name }}" style="max-height: 400px; object-fit: cover;">
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="carousel-control-prev" href="#packageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#packageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
        </div>

        <div class="col-md-12 mt-5">
            <!-- Details Section -->
            
            <p>{{ package.detailed_description|safe }}</p>
            <hr>
            <br>
            <p>{{ package.getaway_highlights|safe }}</p>
            <div class="d-flex">
                <div class="col-md-7"><p>{{ package.included|safe }}</p></div>
                <div class="col-md-5">
                    <h3 class="font-weight-bold mb-3">Details</h3>
                    <p><strong>Price:</strong> <span class="text-success font-weight-bold">${{ package.price }}</span></p>
                    <p><strong>Duration:</strong> <span class="badge badge-secondary">{{ package.holiday_duration }} days</span></p>
                </div>
            </div>
            <!-- Buttons Section -->
            {% if user.is_authenticated %}
                <a href="{% url 'add_to_bag' package.id %}" class="btn btn-primary mt-4 shadow-sm">Book Now</a>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-light mt-4 shadow-sm">Login or Register</a>
                <h5 class="my-3">or</h5>
                <a href="{% url 'add_to_bag' package.id %}" class="btn btn-info shadow-sm">Continue as guest</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
