amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
bleach==5.0.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
decouple==0.0.7
dj-database-url==0.5.0
Django==4.2.18
django-allauth==65.0.2
django-appconf==1.0.6
django-celery-email==3.0.0
django-celery-results==2.5.1
django-ckeditor==6.7.2
django-ckeditor-5==0.2.15
django-js-asset==3.0.1
django-phonenumber-field==8.0.0
django-widget-tweaks==1.5.0
gunicorn==23.0.0
idna==3.10
kombu==5.4.2
Markdown==3.7
packaging==24.2
phonenumbers==8.13.49
pillow==11.0.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.1
stripe==11.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.45.1
whitenoise==6.8.2
django-ckeditor
