pip3 install amqp==5.3.1
pip3 install asgiref==3.8.1
pip3 install billiard==4.2.1
pip3 install celery==5.4.0
pip3 install click==8.1.7
pip3 install click-didyoumean==0.3.1
pip3 install click-plugins==1.1.1
pip3 install click-repl==0.3.0
pip3 install dj-database-url==0.5.0
pip3 install Django==5.1.2
pip3 install django-allauth==65.0.2
pip3 install django-appconf==1.0.6
pip3 install django-celery-email==3.0.0
pip3 install django-celery-results==2.5.1
pip3 install django-phonenumber-field==8.0.0
pip3 install django-widget-tweaks==1.5.0
pip3 install gunicorn==23.0.0
pip3 install kombu==5.4.2
pip3 install phonenumbers==8.13.49
pip3 install pillow==11.0.0
pip3 install psycopg2==2.9.10
pip3 install python-dotenv==1.0.1
pip3 install pytz==2024.2
pip3 install sqlparse==0.5.1
pip3 install stripe==11.1.1
pip3 install tzdata==2024.2
pip3 install vine==5.1.0
pip3 install whitenoise==6.8.2