{% extends 'base.html' %}

{% block title %}
Your Bookings
{% endblock %}

{% block content %}
    <h1>Your Bookings</h1>
    <ul>
        {% for booking in bookings %}
            <li>
                <strong>{{ booking.package.name }}</strong> - ${{ booking.amount }}
            </li>
            <li>
                Booked on: ({{ booking.created_at|date:"Y-m-d" }})
            </li>
            <li>
                Departure Date: ({{ booking.package.date|date:"F j, Y" }})
            </li>
            <li>
                Duration: ({{ booking.package.holiday_duration }} days)
            </li>
        {% empty %}
            <li>No bookings found.</li>
        {% endfor %}
    </ul>
{% endblock %}
