<!-- Code taken from ckz8780 from -->
<!-- https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/e77fa8e928e3901d3502b18e912e90d2204b8ec3/templates/includes/main-nav.html-->
<div class="collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5 btn btn-dark" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>