{% extends "base.html" %}

{% block extra_title %} - Personal Details{% endblock extra_title %}

{% block meta_description %}
    View and manage your personal details securely on Elite Escapes.
{% endblock meta_description %}

{% block content %}
<div class="container mt-5 pt-5">
    {% if customer and user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-2">
                <div class="pt-2 text-center border-0">
                    <h2 class="h4 font-weight-bold text-gold">Personal Information</h2>
                </div>
                <div class="card-body text-white">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <p><strong class="text-gold">First Name:</strong> {{ customer.first_name }}</p>
                            <p><strong class="text-gold">Last Name:</strong> {{ customer.last_name }}</p>
                            {% if customer.gender != 'Prefer not to say' %}
                            <p><strong class="text-gold">Gender:</strong> {{ customer.gender }}</p>
                            {% endif %}
                            <p><strong class="text-gold">Date of Birth:</strong> {{ customer.date_of_birth }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <p><strong class="text-gold">Email:</strong> {{ customer.email }}</p>
                            <p><strong class="text-gold">Phone:</strong> {{ customer.phone }}</p>
                        </div>
                    </div>
                    <hr>
                    <h4 class="text-gold text-center mb-4">Address Information</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <p><strong class="text-gold">Address:</strong> {{ customer.address }}</p>
                            <p><strong class="text-gold">City:</strong> {{ customer.city }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <p><strong class="text-gold">Country:</strong> {{ customer.country }}</p>
                            <p><strong class="text-gold">Postal Code:</strong> {{ customer.postal_code }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <a href="{% url 'edit_customer_details' %}" class="btn btn-primary btn-lg shadow-sm mx-2">
                    <i class="fas fa-edit"></i> Edit Details
                </a>
                <a href="{% url 'delete_customer_details' %}" class="btn btn-danger btn-lg shadow-sm mx-2">
                    <i class="fas fa-trash-alt"></i> Delete Details
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning text-center mt-5">
        <p>No personal details found. <a href="{% url 'customer_details' %}" class="text-gold font-weight-bold">Click
                here to your details here</a>.</p>
    </div>
    {% endif %}
</div>
{% endblock %}