{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{% trans "Sign Up" %}</h1>
    
    <p class="text-center">
        {% blocktranslate %}
            Already have an account? Then please 
            <a href="{{ login_url }}">sign in</a>.
        {% endblocktranslate %}
    </p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {{ redirect_field }}

                <button type="submit" class="btn btn-primary btn-block mt-3">
                    {% trans "Sign Up" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
